// Zde piš své styly


.card {
    text-align: center;  

    .card__photo {
width: 100%;
}
}

@media screen and (width > 600px) {

.card {
    display: flex;
    align-items: center;  
    gap: 20px;  
    text-align: initial;

    .card__photo {
    width: 200px;
    }
}
}